/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family:"lato" , sans-serif;
font-weight: 400;
color: rgb(216, 185, 185);
line-height: 1.7;
font-size: 16px;
padding: 30px;
}
.header {
    height: 95vh;
    background-image: linear-gradient(to top, #7ed56fa8 ,#28b485bb
    ), url( ./../img/hero-small.jpg);
   
    background-size: cover;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.logo-box{
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo{
    height: 35px;
}
.text-box{
    backface-visibility: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50% );
    text-align: center;

}
.primary-heading{
    color: #fff;
  
    text-transform: uppercase;
    
       
}
.main-heading{
    display: block;
    letter-spacing: 35px;
    font-weight: 400;
    font-size: 60px;
    animation-name: moveinleft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
.sub-heading{
    display: block;
    letter-spacing: 17.4px;
    font-size: 20px;
    font-weight: 700;
    animation-name: moveinright;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
@keyframes moveinleft{
0% { opacity: 0;
    transform: translateX(-100px);

}

80%{transform: translateX(10px);

}

100%{
    opacity: 1;
    transform: translateX(0);

}

}
@keyframes moveinright{
    0% { opacity: 0;
        transform: translateX(100px);
    
    }
    
    80%{transform: translateX(-10px);
    
    }
    
    100%{
        opacity: 1;
        transform: translateX(0);
    
    }
    
.Btn{


}

.btn-white{
    background-color: #fff;
    color: #fff;
}